---
import '../styles/font.css'
import Navbar from '../layouts/Navbar.astro'
import Hero from '../components/Hero.svelte'
import Team from '../components/Team.svelte'
import Footer from '../layouts/Footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="About Us - Joy Cat">
		<meta property="og:description" content="Joy Cat didirikan oleh kakak beradik, dr. Bima Sakti Gemilang dan  dr. Andromeda Gemilang. Datang dari keluarga pecinta kucing dan sempat memelihara hampir dari 100 ekor kucing, kami memahami bahwa kucing bukan hanya sekadar hewan peliharaan, tetapi juga anggota keluarga yang berharga.">
		<meta property="og:url" content="https://barra-asat.vercel.app/">
		<meta property="og:image" content="https://barra-asat.vercel.app/favicon.svg">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Joy Cat">

		<title>About Us - Joy Cat</title>
	</head>
	<body>
		<Navbar />
		<Hero imgSrc="/img/hero-tentang-kami.jpg" imgAlt="" title="Tentang Kami" desc="Joy Cat didirikan oleh kakak beradik, dr. Bima Sakti Gemilang dan  dr. Andromeda Gemilang. Datang dari keluarga pecinta kucing dan sempat memelihara hampir dari 100 ekor kucing, kami memahami bahwa kucing bukan hanya sekadar hewan peliharaan, tetapi juga anggota keluarga yang berharga. Oleh karena itu, kami bertekad untuk menyediakan layanan yang mendukung kesehatan dan kebahagiaan bagi kucing dan para pemiliknya.">
			<div class="flex flex-col gap-20">
				<h2 class="text-dark font-bold text-4xl">The Cat Doctors</h2>
				<div class="flex flex-col lg:flex-row gap-8 items-center">
					<img src="/img/dokter-bima-sakti.jpeg" alt="" class="rounded-2xl lg:w-1/2 flex-1">
					<p class="text-lg xs:text-xl flex-1">Dokter Bima Sakti Gemilang memperoleh gelar dokter hewan dari Michigan State University. Di Joy Cat, ia saat ini bekerja sebagai salah satu dari dua dokter hewan fulltime. Dia sangat bersemangat dalam memberikan perawatan pencegahan yang tepat kepada semua pasien, dan giat memberikan edukasi terkait kesehatan kucing kepada para pemilik kucing. Dr. Bintang juga sangat mahir dan unggul dalam operasi jaringan lunak.</p>
				</div>
				<div class="flex flex-col lg:flex-row-reverse gap-8 items-center">
					<img src="/img/dokter-andromeda.jpeg" alt="" class="rounded-2xl lg:w-1/2 flex-1">
					<p class="text-lg xs:text-xl flex-1">Dokter Andromeda Gemilang, adik dari dr. Bima adalah Praktisi Tingkat Lanjut  dalam Kedokteran Kucing dan memegang Keanggotaan Kolese Ilmuwan Hewan Indonesia untuk Kedokteran Kucing.</p>
				</div>
			</div>
		</Hero>
		<section class="px-12 py-20">
			<h2 class="text-dark font-bold text-4xl">Tim Kami</h2>
			<div class="py-10 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-14 sm:gap-8">
				<Team role="Practice Manager" name="Ananta Shabrina" />
				<Team role="Head Nurse" name="Renata Lubis" />
				<Team role="House of Cats Manager" name="Ilham Dwimawan" />
				<Team role="Receptionist" name="Karin Aisyah" />
			</div>
		</section>
		<Footer />
	</body>
</html>