---
import '../styles/font.css'
import Navbar from '../layouts/Navbar.astro'
import Hero from '../components/Hero.svelte'
import AdoptionCards from '../components/AdoptionCards.svelte'
import Footer from '../layouts/Footer.astro'
import { adoptionData } from '../data/adoptionData'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="Adoption - Joy Cat">
		<meta property="og:description" content="Selamat datang di Adopsi Kucing Joy Cat, tempat di mana Anda bisa mengadopsi kucing yang diinginkan.">
		<meta property="og:url" content="https://barra-asat.vercel.app/">
		<meta property="og:image" content="https://barra-asat.vercel.app/img/logo.png">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Joy Cat">

		<title>Adoption - Joy Cat</title>
	</head>
	<body>
		<Navbar />
		<Hero imgSrc="/img/hero-adoption.jpg" imgAlt="" title="Cat Adoption" desc="Berikut adalah beberapa kucing yang saat ini siap untuk diadopsi. Klik pada gambar untuk melihat informasi lebih detail tentang masing-masing kucing." />

		<AdoptionCards adoptions={adoptionData}/>

		<section class="flex justify-center items-center py-20 px-6 sm:px-12 md:px-24 xl:px-44 2xl:px-80 text-dark">
			<div class="bg-gold rounded-2xl p-8 flex flex-col lg:flex-row gap-3">
				<div class="flex-1 flex flex-col justify-center">
					<h2 class="text-3xl">Tidak menemukan kucing yang tepat untuk Anda?</h2>
					<p class="text-xl mb-8">Isi form di bawah ini, kami akan memberitahu Anda jika ada yang menitipkan kucing yang Anda inginkan</p>

					<form class="flex flex-col gap-9">
						<label for="name" class="block">
							<span class="text-dark font-bold text-xl">Nama</span>
							<input type="text" name="name" id="name" class="mt-1 block w-full h-14 border-none rounded-md placeholder:text-lg" placeholder="Tuliskan nama Anda" required>
						</label>
						<label for="email" class="block">
							<span class="text-dark font-bold text-xl">Email</span>
							<input type="email" name="email" id="email" class="mt-1 block w-full h-14 border-none rounded-md placeholder:text-lg" placeholder="Alamat Email Anda" required>
						</label>
						<label for="preference" class="block">
							<span class="text-dark font-bold text-xl">Preferensi kucing yang diinginkan</span>
							<textarea name="preference" id="preference" class="mt-1 w-full h-36 border-none rounded-md placeholder:text-lg resize-y" placeholder="Contoh: Persia, Betina, umur 3 tahun ke atas, putih polos" required></textarea>
						</label>
						<button type="submit" id="submit" class="font-semibold text-2xl py-6 bg-dark rounded-full text-white">Submit</button>
					</form>

					<div class="text-3xl xs:text-4xl text-center h-[540px] hidden flex-col justify-center" id="thanksSubmit">
						<p>Terima kasih telah mengisi formulir.</p>
						<p>Kami akan memberitahu Anda via email jika kami menemukan kucing yang Anda cari.</p>
						<p>😃</p>
					</div>
				</div>
				<img src="/img/funny-cat.png" alt="" class="flex-1 lg:w-1/2 object-contain">
			</div>
		</section>

		<Footer />

		<script>
			const submit = document.querySelector("#submit");
			const form = document.querySelector("form");
			const thanks = document.querySelector("#thanksSubmit");

			submit.addEventListener("click", (event) => {
				if (form.checkValidity()) {
					event.preventDefault();

					form.classList.add("hidden");
					form.classList.remove("flex");

					thanks.classList.remove("hidden");
					thanks.classList.add("flex");
				}
			})
		</script>
	</body>
</html>