---
import Navbar from '../layouts/Navbar.astro'
import Hero from '../components/Hero.svelte'
import Features from '../components/ClinicFeatures.svelte'
import Schedule from '../components/ClinicSchedule.svelte'
import Footer from '../layouts/Footer.astro'
import '@fontsource/Barlow'
import '@fontsource/Barlow/600.css'
import '@fontsource/Barlow/700.css'
import '@fontsource/Barlow/800.css'
import '@fontsource/Barlow/900.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Clinic - Joy Cat</title>
	</head>
	<body>
		<Navbar />
		<Hero imgSrc="/img/hero-clinic.jpg" imgAlt="" title="Klinik Kucing" desc="Selamat datang di Klinik Kucing Joy Cat, tempat di mana kesehatan dan kesejahteraan kucing Anda adalah prioritas utama kami. Kami menyediakan berbagai layanan medis dengan dukungan tim dokter hewan yang berpengalaman dan fasilitas modern.">
			<Features title="1. Pemeriksaan Kesehatan Rutin" desc="Kami menawarkan pemeriksaan kesehatan rutin untuk memastikan kucing Anda dalam kondisi prima. Pemeriksaan ini meliputi pengecekan fisik, pengukuran berat badan, dan evaluasi kesehatan secara keseluruhan." />
			<Features title="2. Vaksinasi" desc="Lindungi kucing Anda dari penyakit berbahaya dengan vaksinasi yang tepat waktu. Kami menyediakan vaksinasi lengkap sesuai dengan jadwal yang direkomendasikan oleh dokter hewan." />
			<Features title="3. Pengobatan Penyakit" desc="Apapun penyakit yang mungkin dihadapi kucing Anda, kami siap memberikan diagnosis yang akurat dan pengobatan yang efektif. Tim kami berkomitmen untuk memberikan perawatan terbaik agar kucing Anda segera pulih." />
			<Features title="4. Bedah" desc="Klinik kami dilengkapi dengan ruang operasi yang steril dan peralatan modern untuk melakukan berbagai prosedur bedah, dari operasi minor hingga operasi mayor. Dokter hewan kami akan memberikan penjelasan mendetail dan dukungan pasca-operasi." />
			<Features title="5. Konsultasi Kesehatan" desc="Punya pertanyaan tentang kesehatan kucing Anda? Kami menyediakan layanan konsultasi kesehatan untuk memberikan informasi dan saran yang Anda butuhkan. Baik secara langsung di klinik atau melalui konsultasi online." />
			<Features title="6. Laboratorium Diagnostik" desc="Dengan fasilitas laboratorium yang lengkap, kami dapat melakukan berbagai tes diagnostik seperti tes darah, urin, dan lainnya untuk mendukung diagnosis yang akurat." />
		</Hero>
		<section class="flex flex-col gap-8 py-20 px-6 sm:px-12 md:px-24 xl:px-44 2xl:px-80">
			<h2 class="text-dark font-bold text-4xl">Jadwal Dokter</h2>

			<div class="flex items-center flex-col lg:flex-row gap-14 lg:gap-5 py-10">
				<Schedule imgSrc="img/dokter-bima-sakti.jpeg" name="dr. Bima Sakti" day="Senin, Rabu, Jumat" time="08.00 - 15.00" />
				<Schedule imgSrc="img/dokter-andromeda.jpeg" name="dr. Andromeda" day="Selasa, Kamis, Sabtu" time="10.00 - 17.00" />
			</div>

			<div class="flex flex-col lg:flex-row bg-[#5FB7A7] text-white rounded-2xl overflow-hidden">
				<div class="flex-1 flex flex-col gap-5 justify-center p-10">
					<p class="text-2xl xs:text-3xl xs:leading-[3rem]">Cek antrian klinik dan lakukan reservasi melalui nomor berikut:</p>
					<div class="flex gap-3 items-center">
						<img src="/img/whatsapp.svg" alt="WhatsApp Logo" class="size-7 xs:size-10 lg:size-14">
						<p class="font-semibold text-2xl xs:text-4xl lg:text-5xl xl:text-6xl underline z-10"><a href="https://wa.me/62812345678910">0812-3456-78910</a></p>
					</div>
				</div>
				<img src="/img/cat-contact.jpg" alt="Cat wearing headphone" class="flex-1 w-full object-cover">
			</div>
		</section>
		<Footer />
	</body>
</html>