---
import '../styles/font.css'
import Navbar from '../layouts/Navbar.astro'
import Hero from '../components/Hero.svelte'
import Package from '../components/DaycarePackage.svelte'
import Description from '../components/DaycareDescription.svelte'
import Footer from '../layouts/Footer.astro'
import { daycarePlans } from '../data/daycarePackage'
import { groomingPlans } from '../data/groomingPackage'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="Daycare & Grooming - Joy Cat">
		<meta property="og:description" content="Selamat datang di Daycare dan Grooming Joy Cat, tempat di mana kucing Anda akan mendapatkan perawatan dan perhatian terbaik saat Anda tidak berada di rumah.">
		<meta property="og:url" content="https://barra-asat.vercel.app/">
		<meta property="og:image" content="https://barra-asat.vercel.app/favicon.svg">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Joy Cat">

		<title>Daycare & Grooming - Joy Cat</title>
	</head>
	<body>
		<Navbar />
		<Hero imgSrc="/img/hero-daycare.jpg" imgAlt="" title="Daycare & Grooming" desc="Selamat datang di Daycare dan Grooming Joy Cat, tempat di mana kucing Anda akan mendapatkan perawatan dan perhatian terbaik saat Anda tidak berada di rumah. Kami menawarkan berbagai paket layanan yang dapat disesuaikan dengan kebutuhan Anda dan kucing kesayangan Anda.">
			<Description imgSrc="/img/daycare-1.jpg" imgAlt="" direction="row" title="Cat Daycare" desc="Butuh tempat yang aman dan nyaman untuk menitipkan kucing Anda? Daycare kami menyediakan lingkungan yang aman, bersih, dan penuh kasih sayang. Kucing Anda akan diawasi oleh staf profesional yang berpengalaman." />

			<Package name="Daycare" color="white" plans={daycarePlans} />
		</Hero>
		<section class="flex flex-col gap-20 py-20 px-6 sm:px-12 md:px-24 xl:px-44 2xl:px-80">
			<Description imgSrc="/img/daycare-2.jpg" imgAlt="" direction="row-reverse" title="Cat Grooming" desc="Layanan grooming kami mencakup berbagai perawatan untuk menjaga kebersihan dan kesehatan bulu kucing Anda. Kami menggunakan produk yang aman dan teknik yang tepat untuk memastikan kucing Anda merasa nyaman selama perawatan." />

			<Package name="Grooming" color="light" plans={groomingPlans} />
		</section>
		<Footer />
	</body>
</html>