---
import Navbar from '../layouts/Navbar.astro'
import '@fontsource/Barlow'
import '@fontsource/Barlow/600.css'
import '@fontsource/Barlow/700.css'
import '@fontsource/Barlow/800.css'
import '@fontsource/Barlow/900.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Joy Cat</title>
	</head>
	<body>
		<Navbar />
	</body>
</html>
