<nav class="flex justify-between px-10 py-3 bg-[url('/img/paw-pattern-light.png')] rounded-full fixed inset-x-5 top-5 bg-white z-20">
	<a href="/"><img src="/img/logo-dark.svg" alt="Logo" class="w-36 xs:w-44"></a>
	<ul class="hidden md:flex items-center gap-8 text-[#2E5171] font-semibold">
		<li><a href="/about">Tentang Kami</a></li>
		<li><a href="/clinic">Klinik</a></li>
		<li><a href="/daycare">Daycare & Grooming</a></li>
		<li><a href="/adoption">Adopsi</a></li>
	</ul>
	<div class="flex md:hidden flex-col justify-center gap-1.5 cursor-pointer" id="hamburger">
		<div class="w-8 xs:w-10 h-1 bg-dark duration-300"></div>
		<div class="w-8 xs:w-10 h-1 bg-dark duration-300"></div>
		<div class="w-8 xs:w-10 h-1 bg-dark duration-300"></div>
	</div>
</nav>
<div class="hidden md:hidden translate-y-full fixed inset-x-6 z-20 top-32 bottom-0 bg-white bg-[url('/img/paw-pattern-light.png')] py-10 px-5 rounded-t-4xl" id="hamburgerList">
	<ul class="flex flex-col gap-10 text-center text-dark font-semibold text-2xl duration-1000">
		<li><a href="/about">Tentang Kami</a></li>
		<li><a href="/clinic">Klinik</a></li>
		<li><a href="/daycare">Daycare & Grooming</a></li>
		<li><a href="/adoption">Adopsi</a></li>
		<li>
			<a href="https://wa.me/62812345678910" class="flex justify-center items-center gap-3">
				<img src="/img/whatsapp-color.svg" alt="WhatSapp Logo" class="size-6">
				<p>0812-3456-78910</p>
			</a>
		</li>
		</ul>
		</div>
<div class="md:hidden fixed inset-0 bg-black/80 pointer-events-none opacity-0 z-10 duration-300 " id="hamburgerOverlay"></div>

<script>
	const hamburger = document.querySelector("#hamburger");
	const hamburgerList = document.querySelector("#hamburgerList");
	const hamburgerOverlay = document.querySelector("#hamburgerOverlay");
	const hamburgerBar = document.querySelectorAll("#hamburger div");
	console.log(hamburger);
	hamburger.addEventListener("click", () => {
		hamburgerBar[0].classList.toggle("rotate-45");
		hamburgerBar[0].classList.toggle("translate-y-full");
		hamburgerBar[1].classList.toggle("hidden");
		hamburgerBar[2].classList.toggle("-rotate-45");
		hamburgerBar[2].classList.toggle("-translate-y-[150%]");
		hamburgerList.classList.toggle("hidden");
		hamburgerList.classList.toggle("translate-y-full");
		hamburgerOverlay.classList.toggle("opacity-0");
		hamburgerOverlay.classList.toggle("pointer-events-none");
	});
</script>